name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Create .env file
      run: |
        touch .env
        echo ROBLOX_COOKIE="${{ secrets.ROBLOX_COOKIE}}" >> .env
    
    - name: Build
      run: cargo build --features=web-socket --verbose
    - name: Run tests
      run: cargo test --features=web-socket --verbose

